

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.header-style{
  color: rgb(84, 191, 233);
  display: flex;
  position: center;
  align-items: center;
  justify-content: center;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 20%;

  
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
